<ion-header>
    <ion-toolbar class="bgcolor">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>
            DashBoard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br><br><br>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card text-center>
                    <ion-icon name="md-megaphone" style="zoom:2.0;"> </ion-icon>
                    <h5 class="title">Announcement</h5>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card text-center>
                    <ion-icon name="md-create" style="zoom:2.0;"> </ion-icon>
                    <h5 class="title">Attendance</h5>
                </ion-card>
            </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
            <ion-col size="6">
                <ion-card text-center>
                    <ion-icon name="md-calendar" style="zoom:2.0;"> </ion-icon>
                    <h5 class="title">Timetable</h5>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card text-center>
                    <ion-icon name="md-bookmarks" style="zoom:2.0;"> </ion-icon>
                    <h5 class="title">Exams</h5>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>