ion-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
}

.title {
    color: maroon;
}

.bgcolor{
    background-color: maroon;
}

ion-icon {
    font-size: 18px;
    align-self: center;
}