<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="title">Basic Details</ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h6><b class="test">Name : </b> Pooja Patil</h6>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h6><b class="test">UID : </b> 2018450037</h6>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h6><b class="test">Class : </b> SY MCA</h6>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="title">Account Details</ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h6><b class="test">Password : </b>******* &nbsp;&nbsp;&nbsp;<ion-icon name="md-create"></ion-icon></h6>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>

    <ion-button expand="block" color="danger"><b>LOG OUT</b></ion-button>
</ion-content>